.navbar-background-wrapper {
    width: 100%;
    background-color: #003c72;
    padding: 10px 0;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

.flag-container {
    display: flex;
    gap: 10px;
}

.flag {
    width: 35px;
    height: 35px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 10px;
}

.list-item {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

.list-item.active {
    color: orange;
}

#vietnamese {
    background-image: url('../img/Vflag.png');
}

#english {
    background-image: url('../img/Eflag.png');
}