.homepage-background {
    background-image: url('../img/bgchomepage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
}

.loko {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(56, 56, 56, 0.678);
    font-family: "Fascinate Inline", system-ui;
}

/* .itinerary-results-container {
    margin-top: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tour-sample {
    position: relative;
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
    box-shadow: 8px 10px 15px #848484;
    border-radius: 0px;
    margin-bottom: 20px;
}

.flying-birds-animation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1500px;
    z-index: 2;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-item {
    min-width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: relative;
    padding: 0;
    border-radius: 0px;
} */

/* .glass-itinerary-box {
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    max-width: 80%;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow:
        0 0 10px #dddddde3,
        0 0 15px #fdfdfd;
    width: 1000px;
}

.slide-image {
    display: none;
}

.slide-info-box {
    position: static;
    background: none;
    color: inherit;
    padding: 0;
    max-width: 100%;
    text-align: left;
    z-index: 1;
}

.slide-title {
    text-align: center;
}

.slide-info-box h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.slide-info-box p {
    margin-bottom: 0;
    font-size: 20px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(242, 244, 246, 0.21);
    color: rgba(255, 255, 255, 0.943);
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0px 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 10;
}

.carousel-button.prev {
    left: 0;
}

.carousel-button.next {
    right: 0;
}

.planning-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 410px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-radius: 20px;
    padding: 0px 30px;
} */

/* .table-header,
.table-row {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1.5fr;
    gap: 10px;
    padding: 10px;
    text-align: left;
}

.table-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.table-header {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.24);
    color: #ffffff;
}

.table-row:nth-child(even) {
    background-color: #d8d8d850;
}

.table-row span,
.table-header span {
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description-title {
    text-align: center;
} */

/* .time-value {
    margin-left: 25px;
    ;
}

.go-with-loko {
    margin: 20px 10%;
    font-size: 40px;
} */

.travel-with-loko {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #003c72;
    animation: textReveal 2.0s ease-out forwards;
    display: flex;
    /* Added to align items */
    align-items: center;
    /* Added to vertically center items */
    justify-content: center;
    /* Added to horizontally center content */
}

.loko-in-text-logo {
    height: 150px;
    margin-left: 10px;
}

.homepage-banner {
    width: 1050px;
    height: 460px;
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
    padding: auto 20px;
    background: linear-gradient(to bottom right, #001f3f, #003366, #004c8c, #0066cc);
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: -50px;
}

/* Define the new animation */
@keyframes textReveal {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.left-column {
    position: relative;
}

.left-column::after {
    content: '';
    position: absolute;
    height: 80%;
    width: 1px;
    background-color: white;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pop-img {
    width: 500px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out;
    animation: slideIn 0.5s forwards;
    margin: 30px;
}

.banner-text {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    text-align: center;
    padding: 30px;
    color: #fdfdfd;
}

.banner-subtext {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fdfdfd;
    text-align: center;
    font-size: 15px;
}

.get-started {
    width: 200px;
    font-size: 30px;
    height: 60px;
    margin: 40px auto;
    color: #fdfdfd;
    border-radius: 15px;
    border: 1px solid;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #ff8c00, #ff4500);
}

.get-started:hover {
    cursor: pointer;
}

.get-started::before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.8), transparent);
    transform: skewX(-20deg);
    animation: shine 3s infinite;
}

@keyframes shine {
    0% {
        left: 100%;
    }

    23.33% {
        left: -100%;
    }

    100% {
        left: -100%;
    }
}